html {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.container {
display: flex;
flex-flow: row nowrap;
height: 90%;
width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.editor {
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}

textarea#mdbody {
  font-family: "Hiragino Sans GB", "Microsoft YaHei",             "WenQuanYi Micro Hei", sans-serif;
  margin: 0;
  display: flex;
  padding: 20px;
  width: 50%;
  height: 100%;
  background-color: #212121;
  color: #E6E6E6;
}


.language-math {
  /* overflow: initial; */
}

pre {
    overflow: hidden;
}

.toolbar {
    background-color: #37BEEF;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: inherit;
    box-shadow: 10px 10px 5px #888888;
}

.toolbar-icon {
    display: flex;
    flex-flow: row nowrap;
    color: #ffffff;
    font-size: 24px;
    line-height: 50px;
    margin: 0 20px 0;
}


.toolbar-group-1 {}

.toolbar-group-2 {
}


.toolbar-group-2 {
    font-size: 15px;
    margin-left: 30px;
}

.toolbar-group-3 {
    margin-left: 30px;
    display: block;
    flex-flow: row nowrap;
    align-items: center;
}


div#preview {
    font-family: "Hiragino Sans GB", "Microsoft YaHei",             "WenQuanYi Micro Hei", sans-serif;
    color: #333333;
    letter-spacing: 0px;
    margin: 0;
    padding: 20px;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    overflow: scroll;
}

#preview img {
    width: 100%;
}

#preview h1 {
    font-size: 42px;
    color: black;
}


#preview p {
    font-size: 14px;
}

#preview a {
    font-size: 16px;
    color: #06A1FF;
}


div#preview h2 {
    font-size: 30px;
    color: black;
}


div#preview h3 {
    font-size: 24px;
}

div#preview h4 {
    font-size: 18px;
}

div#preview h5 {
    font-size: 16px;
}

div#preview h6 {
    font-size: 12px;
}

#preview hr {margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 3px solid #F7F7F7;}

#preview li {font-size: 14px;}


#preview blockquote {
    border-left: 8px solid #F1F1F1;
    padding-left: 15px;
    margin: 32px;
}

#preview .language-math {
    font-size: 24px;
    color: #545454;
}

#preview pre {
    margin-top: 48px;
    background-color: #F9F9F9;
    padding: 24px;
    border-radius: 4px;
    width: 100%;
}

#preview li>code {
    background-color: #C9F1FF;
    color: #00AEE4;
    padding: 3px;
    margin: 3px;
    border-radius: 2px;
    font-weight: 800;
}

#preview p>code {
    background-color: #FFE4D8;
    color: #FF9261;
    padding: 3px;
    margin: 3px;
    border-radius: 2px;
    font-weight: 800;
}

#preview table {
    background-color: #EBF6FF;
    border-radius: 2px;
    padding: 8px;
}


#preview thead {vertical-align: middle;border-bottom: 20px solid #FD2121;}
