/*
Flex Layout
*/

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
  flex: 0 0 auto;
}

.row {
  flex-flow: row;
}

.column {
  flex-flow: column;
}

.row-wrap {
  flex-flow: row wrap;
}

.ai-center {
  align-items: center;
}

.jt-center {
  justify-content: center;
}

.jt-between {
  justify-content: space-between;
}
